<footer>
    <section class="foot">
        <div class="container ">
          <div class="row text-center  justify-content-between">
            <div class="col-md-4">
                <div class="foot-content">
                    <h3 class="text-light  fs-2 text-uppercase mb-2">location</h3>
                    <p class="text-light mb-3">2215 John Daniel Drive</p>
                    <p class="text-light mb-3">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-content">
                    <h3 class="text-light  fs-2 text-uppercase mb-2">AROUND THE WEB</h3>
                    <div class="media-icons text-light fs-5">
                        <span class="px-2  "><i class="fa-brands fa-facebook"></i></span>
                        <span class="px-2"><i class="fa-brands fa-twitter"></i></span>
                       <span class="px-2"><i class="fa-brands fa-linkedin-in"></i></span>
                       <span class="px-2"><i class="fa-solid fa-globe"></i></span>
                     
                      </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-content">
                    <h3 class="text-light  fs-2 text-uppercase mb-2">ABOUT FREELANCER</h3>
                    <p class="text-light mb-3">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
          </div>
        </div>  
       
    </section>
    <div class="footer-content2 text-light text-center p-4">
        <p class="m-0">Copy Right 2018 ©  Your Website 2021</p>
    </div>
</footer>