<section class="protfolio">
    <div class="container">
        <div class="title text-center pt-4">
            <h2 class="text-uppercase fs-1 fw-bold">portfolio component</h2>
            <div class="icon text-center d-flex justify-content-center text-light mb-3">
           
                <i class="fa-solid fa-star"></i>
                <div class="line ">
    
                </div>
            </div>
        </div>
     
           
                <app-card></app-card>
     
      
    </div>
</section>
