<section class="home">
<div class="container d-flex justify-content-center  align-items-center">
    <div class="home-card">
    <div class="home-photo d-flex justify-content-center ">
        <img style="width: 250px;" class=" mb-5" src="/images/avataaars.svg" alt="smile person">
    </div>
    <div class="content justify-content-center">
        <h2 class=" text-uppercase text-light fw-bold fs-1">start framework</h2>
        <div class="icon text-center d-flex justify-content-center text-light mb-3">
           
            <i class="fa-solid fa-star"></i>
            <div class="line ">

            </div>
        </div>
        <div class="text-light text-center">
            Graphic Artist - Web Designer - Illustrator
        </div>
    </div>
</div>
</div>

</section>